{
  "presets": [
    [ "@babel/preset-env", {  // for compiling ES2015+ syntax
      "corejs": 3, // для задания полифилов
      "useBuiltIns": "usage", // импортируем только те которые используем
      "debug": false,
      "modules": false // использовать стандартный синтаксис import, без require
    } ],
    [ "@babel/preset-react", { // for React JSX
        "runtime": "automatic"
      } ],
    [ "@babel/preset-typescript", {} ] // for React TS
  ]
}