// font-family: 'Inconsolata', monospace;
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;800&display=swap');

// font-family: 'Mukta', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;800&display=swap');

// для подкючения локальных шрифтов
//@font-face {
//  font-family: 'Macondo';
//  font-style: normal;
//  font-weight: 400;
//  font-display: swap;
//  src: url(https://fonts.gstatic.com/s/macondo/v21/RrQQboN9-iB1IXmOe2LE0Q.woff2) format('woff2');
//  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
//}