.block1 {
  overflow: hidden;

  width: 500px;
  height: 500px;

  color: red;
  background-image: url("./images/cat.jpg");
  background-size: cover;

  &__subtitle {
    margin-bottom: 20px;

    font-family: Inconsolata, serif;
    font-size: 20px;
    font-weight: 800;
  }

  &__subtitle2 {
    font-family: Mukta, serif;
    font-weight: 200;
  }
}
